docs/docs/assets/other/n8n/n8n-mealie-backup.json
{
  "name": "Mealie Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "5dc89858-1f01-4691-9797-dd39eb528de8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        340,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mealie.example/api/admin/backups",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fa710f2f-6d06-4493-b1b3-d01bb3537d44",
      "name": "Run Backup ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        380
      ],
      "notesInFlow": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GSL12tNi3MPvTZux",
          "name": "Mealie API"
        }
      },
      "notes": "Send an API call to run the backup"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.example/backups",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "Meale Backup Failure"
            },
            {
              "name": "Priority",
              "value": "urgent"
            },
            {
              "name": "Tags",
              "value": "warning"
            },
            {
              "name": "Actions",
              "value": "view, Open Mealie, https://mealie.example/admin/backups; view, Open n8n, https://n8n.example"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "\"Full Panic!\"",
        "options": {}
      },
      "id": "4c5df2ee-2a4a-4be9-8062-2d6a5a5a6410",
      "name": "Ntfy Warning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://mealie.example/api/admin/backups",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "752a2a9b-c2cc-497a-8ee4-47ce7e8d89ea",
      "name": "Get all backups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GSL12tNi3MPvTZux",
          "name": "Mealie API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "imports",
        "options": {}
      },
      "id": "a340cf6b-5637-4a80-8740-aed84ab83145",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        820,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get input data\nconst inputData = items.map(item => item.json);\n\n// Sort the data based on the 'date' field in descending order\ninputData.sort((a, b) => new Date(b.date) - new Date(a.date));\n\n// Get all records except the latest 7\nconst allExceptLatest7 = inputData.slice(7);\n\n// Map the output data back to the required format\nreturn allExceptLatest7.map(record => ({ json: record }));\n"
      },
      "id": "b69de435-e92a-4e3e-b3f3-ed5c934c7da0",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "044ebfc5-c289-4d84-b03a-64d6af8c2702",
              "leftValue": "{{ $json.error }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd5083f0-b62b-48c2-99e1-3c925ff1e5e3",
      "name": "Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        840,
        380
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://mealie.example/api/admin/backups/{{ $json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "34c57711-c204-42ed-98fa-24ac2abba4fb",
      "name": "Delete Oldies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GSL12tNi3MPvTZux",
          "name": "Mealie API"
        }
      }
    },
    {
      "parameters": {
        "content": "Sends API Call to run backup",
        "height": 225,
        "width": 226,
        "color": 4
      },
      "id": "12676aee-e61a-4977-a950-425fbec98898",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        320
      ]
    },
    {
      "parameters": {
        "content": "Is there an error?",
        "height": 225,
        "width": 231,
        "color": 3
      },
      "id": "bb667412-22c9-4ad0-bfef-d02cd9ad54f5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "content": "Send alert to NTFY",
        "height": 225,
        "width": 229
      },
      "id": "96286e12-fa4c-4102-9df3-a119322b12a9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {
        "content": "Gets all backups in Mealie",
        "height": 225,
        "width": 226,
        "color": 4
      },
      "id": "2dfe3a65-8a99-4b5b-b39c-aaa288ee9b4e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "content": "Splits the data, and parses the output",
        "height": 225,
        "width": 281
      },
      "id": "ece7d0fc-b66b-4f8c-b92e-60037a1cedc2",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        620
      ]
    },
    {
      "parameters": {
        "content": "Deletes all but the last 7 backups",
        "height": 225,
        "width": 229
      },
      "id": "2de94b38-3a05-4cd8-94fb-da701cfe57a2",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        620
      ]
    },
    {
      "parameters": {
        "content": "Run every day a 01:00",
        "height": 225,
        "width": 226,
        "color": 4
      },
      "id": "38c0c7fe-0924-40f6-97ef-73a8aedd72d6",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run Backup ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get all backups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Backup ": {
      "main": [
        [
          {
            "node": "Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all backups": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Delete Oldies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error?": {
      "main": [
        [
          {
            "node": "Ntfy Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70f11e4a-0a6c-4f29-a4e3-f69314f7268b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "630eefaa8c490b9c5221d83a182af6450c2c3efaf4b580b8ac348631abfe1aeb"
  },
  "id": "R9SkxwaOj50UyK8r",
  "tags": []
}